.field {
    width: 100%;
    height: 400px;
    background-image: url('../../images/background5.jpg');
    overflow-x: hidden;
    z-index: 2;
    color: white;
}
.field2{
    position: absolute;
    background-color: black;
    height: 400px;
    width: 100%;
    opacity: 0.2;
}
.field img.resize {
    width:540px; /* you can use % */
    height: auto;
}
.searchBar {
    display: flex;
    position: relative;
    top: 35%;
    left: 22%;
    
}
.searchBar>input {
    height: 100px; 
    width: 700px;
    outline: none;
    border: none;
    font-size: 30px;
    padding-left: 25px;
}
.searchBar>button {
    height: 100px;
    width: 130px;
    background-color: orange;
    border: none;
    font-size: 20px;
}
.searchBar button:hover {
    background-color: red;
}
.title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 15%;
    font-size: 25px;
}