
.beerField {
    background-color: lightgray;
    height: auto;
    width: 100% !important;
    
}
.beerRow {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    left: 10%;
    
}
.beerItem {
    height: 500px;
    width: 380px;
    background-color: whitesmoke;
    margin-bottom: 30px;
    border-radius: 20px;
     cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    position: relative;
    overflow: hidden;
    
  
}

.beerItem:hover {
    transform: scale(0.95);
}
.beerItem>img {
    height: 250px;
    width: auto;
    position: absolute;
    left: 15%;
    z-index: 2;
}
.beerItem .backImage {
    background-color: black;
    height: 250px;
    position: relative;
    top: -12%;
    z-index: 1;
}
.beerItem .ratingBox {
    background-color: white;
    height: 150px;
    width: 150px;
    position: relative;
    left: 55%;
    top: -30%;
    overflow: hidden;
    margin-bottom: -20%;
    z-index: 2;
    border-radius: 50%;
    -webkit-box-shadow: 10px 19px 37px -9px rgba(130,130,130,0.8); 
    box-shadow: 10px 19px 37px -9px rgba(130,130,130,0.8);

}
.rating {
    position: relative;
    top: 14%
}

.rating-star {
    font-size: 25px;
    width: 8px;
    height: 40px;
    padding: 0 7px;
    position: relative;
    display: block;
    float: left;
    left: 12%;
}
.ratingTitle h2 {
    position: relative;
    left: 25%;
    font-size: 50px;
}
h6 {
    position: relative;
    left: 30%;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -5px;
}
  
.full-star:before {
    color: #f2b01e;
    content: "\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
}
  
.empty-star:before {
    content: "\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
}
  
.half-star:before {
    color: #f2b01e;
    content: "\2605";
    width: 50%;
    position: absolute;
    left: 0;
    overflow: hidden;
}
  
.half-star:after {
    content: "\2605";
    position: absolute;
    left: 1.5rem;
    width: 50%;
    text-indent: -1.5rem;
    overflow: hidden;
}
  