.menu {
    display: flex;
    width: 100%;
    background-color: rgb(20, 7, 66);
    color: white;
    height: 100px;
    align-content: space-between;
}
.menu .logo {
    width: 30%;
    font-size: 50px;
    position: relative;
    top: 20%;
    left: 3%
}
.menu .items {
    width: 50%;
    display: flex;
    gap: 140px;
    position: relative;
    top: 40%;
}
.menu .items a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    
}
.menu .items a:hover {
    color: red

}
.menu .buttons {
    width: 20%;
    display: flex;
    gap: 50px;
    position: relative;
    top: 25%
}
.menu .buttons button {
    height: 50px;
    width: 100px;
}