.show {
    height: auto;
    width: 100%;
}
.back {
    height: 400px;
    background-color: black;
    width: 100%;
    z-index: 1;
    position: relative;
}
.items .leftBeer {
    height: 500px;
    width: auto;
    left: 20%;
    position: absolute;
    top: 20%;
    z-index: 2;
}
.items .rightBeer {
    background-color: blue;
    height: 300px;
    width: 700px;
    left: 47%;
    position: absolute;
    top: 20%;
    z-index: 3;

}
.return {

    left: 5%;
    position: absolute;
    top: 22%;
    z-index: 3;
}
.beerTitle {
    font-size: 70px;
    font-weight: 800;
    color: white;
}
.beerSubTitle {
    font-size: 30px;
    font-weight: 400;
    color: white;
    opacity: 0.8;
}